.fxcontainer {
    width: auto;
    height: auto;
    color: #fff;
     z-index: 1; 
}

.item {
    width: 200px;
    height: 200px;
    color:black;
    z-index: 2;
    justify-content: center!important;
    display: flex!important;    
}

.btn_wpbb{
    background-image: url(assets/img/customer_support.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #a9a9b1;
    justify-content: center!important;
    display: flex!important;
    height: 100px;
    width: 200px;
    z-index: 10!important; 
    text-align: center;
    padding: 70px!important;
    color: white;
}

.btn_profile{
    background-image: url(assets/img/user-mgt.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #a9a9b1;
    justify-content: center!important;
    display: flex!important;
    height: 100px;
    width: 200px;
    text-align: center;
    padding: 70px!important;
    color: white;
    
}

.btn_dentaku{
    background-image: url(assets/img/api.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #a9a9b1;
    justify-content: center!important;
    display: flex!important;
    height: 100px;
    width: 200px;
    text-align: center;
    padding: 70px!important;
    color: white;
    
}


.btn_member{
    background-image: url(assets/img/member.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: top;
    background-color: #a9a9b1;
    justify-content: center!important;
    display: flex!important;
    height: 100px;
    width: 200px;
    text-align: center;
    padding: 70px!important;
    color: white;
}

.btn_moodle{
    background-image: url(assets/img/edu.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: top!important;
    background-color: #a9a9b1;
    justify-content: center!important;
    display: flex!important;
    height: 100px;
    width: 200px;
    text-align: center;
    padding: 70px!important;
    color: white;
}

.loggedinUser{
    text-align: center!important;
    color: white!important;
    font-family: "ABCWhyte Book","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif!important;
    display: block;
    position: relative!important;
    z-index: 99;
}

.okta-white-logo{
    /* width: 500px!important; */
    position: relative;
    z-index: 1!important;
    
    /* justify-content: center!important; */
    /* align-items: center!important; */
    text-align: center!important;
    /* display: block;
    width: 60%!important;
    height: auto!important; */
}
