<style>
    .section-dark {
        background-color: #6E6E78;
    }

    body {
        color: white;
        background-color: #6E6E78;
        font-size: 14px;
        font-weight: 300;
        font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    }
</style>

<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Okta powers identity for the internet</h2>
                <p class="description">
                    We are a trusted partner to businesses around the world and give our customers the confidence to reach their full potential.  Accelerate a world where everyone can safely use any technology. We bring simple and secure access to people and organizations everywhere.
                    We promise to not only protect the identities of our customers’ workforce and users, but to ask, “what more can we make possible?”
                </p>
            </div>
        </div>
    </div>
</div>