<div class="loggedinUser">
    <h1>{{strWelcome}} <br/>{{UserLoggedIn}}</h1>
  </div>
  
  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="30px">
    
    <div class="item item1" id="memberProfile">
      <a mat-button href="https://mortpanda.github.io/ciam-angular-portal-profile/home" target="_blank" class="btn_moodle"><h1>View Okta Profile</h1></a>
      
    </div>
  
    <div class="item item1" id="memberSite">
      <a mat-button href="https://angular-ciam-demo-wp.csm-apac-1.duckdns.org" target="_blank" class="btn_wp"><h1>Member site</h1></a>
      
    </div>
    <div class="item item1" id="memberBBS">
      <a mat-button href="https://angular-ciam-demo-wpbb.csm-apac-1.duckdns.org" target="_blank" class="btn_wpbb"><h1>Member BBS</h1></a>
      
    </div>
  
    <div class="item item1" id="memberMoodle">
      <a mat-button href="https://angular-ciam-demo-moodle.csm-apac-1.duckdns.org" target="_blank" class="btn_moodle"><h1>Online Training</h1></a>
      
    </div>
    <div class="item item1" id="memberDentaku">
      <a mat-button href="https://mortpanda.github.io/ciam-angular-portal-calc/home" target="_blank" class="btn_moodle"><h1>DENTAKU</h1></a>
      
    </div>
    
  </div>
  <p class="okta-white-logo">
  <img src="assets/img/Logo_Okta_Japan_White.png" >
  </p>